@import 'app/bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap';

.avatar {
  height: 100px;
  overflow: hidden;
  img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
  }
}

.startsWithA {
  border: 3px solid #0bc019;
  border-radius: 5px;
  box-shadow: 0 2px 7px rgba(0,0,0,0.4), 0 1px 0 rgba(255,255,255,0.2) inset;
}

